:host {
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    width: max-content;
}

:host:hover {
    background-color: rgb(185, 240, 185);
}

.btn-remove-ability {
    /* display: none; */
}

:host:hover .btn-remove-ability {
    display: block;
}

.form-select {
    width: 70px;
}

.form-control {
    width: 2em;
}