:host {
    display: flex;
    flex-direction: row;
}

.form-control {
    width: 3.75em;
}

.form-control[type="text"] {
    width: 12em;
}

.form-control.two-digits {
    width: 4.25em;
}

.nerve-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.was-loaded input.ng-pristine {
    background-color: beige;
}