:host {
    display: flex;
    flex-direction: row;
}

.form-control {
    width: 2.5em;
}

.form-control[type="text"] {
    width: 12em;
}

.form-control.two-digits {
    width: 3em;
}

.container-affected-by {
    font-size: 15px;
    line-height: 19px;
}

.nerve-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.was-loaded .form-control.ng-pristine,
.was-loaded .form-select.ng-pristine {
    background-color: beige;
}