:host {
    display: flex;
    flex-direction: row;
}

.inputs-table input[type="number"] {
    width: 70px;
}


.nerve-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.was-loaded input.ng-pristine {
    background-color: beige;
}