<span>
    <table class="table table-striped inputs-table">
        <thead>
            <tr>
                <td>Attacker</td>
                <td style="text-align: center">Me</td>
                <td style="text-align: center">Att</td>
                <td style="text-align: center">CS</td>
                <td style="text-align: center">TC</td>
                <td>Special</td>
                <td *ngIf="false">Facing</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let attacker of charge.attackers; let index = index" [class.was-loaded]="attacker.wasLoaded">
                <td><input class="form-control" type="text" placeholder="Attacker #{{ index + 1 }}" [(ngModel)]="attacker.name"></td>
                <td><input class="form-control" type="number" min="2" max="6" [(ngModel)]="attacker.melee"></td>
                <td>
                    <div style="display: flex; align-items: center;">
                        <select class="form-select form-select-sm" style="width: 70px" [(ngModel)]="attacker.attack.dice">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="3">D3</option>
                            <option [ngValue]="6">D6</option>
                        </select>
                        +
                        <input class="form-control two-digits" type="number" min="0" max="100" [(ngModel)]="attacker.attack.plus">
                    </div>
                </td>
                <td><input class="form-control" type="number" min="0" max="6" [(ngModel)]="attacker.cs"></td>
                <td><input class="form-control" type="number" min="0" max="6" [(ngModel)]="attacker.tc"></td>
                <td style="width: 350px">
                    <div style="display: flex; flex-wrap: wrap;">
                        <app-modifier-chip
                            *ngFor="let ability of attacker.abilities"
                            [ability]="ability"
                            (remove)="removeAbility(attacker, ability)"
                        ></app-modifier-chip>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <ng-container *ngFor="let abilityOption of abilityOptions">
                                    <ng-container *ngIf="incompatibleAbilityOption(attacker, abilityOption) as incompatibleWith">
                                        <li appBootstrapTooltip data-bs-toggle="tooltip" data-bs-placement="top" title="'{{abilityOption.name}}' with '{{incompatibleWith.name}}' is not implemented yet">
                                            <a
                                                class="dropdown-item"
                                                [class.disabled]="true"
                                                href="#"
                                            >
                                                {{abilityOption.name}}
                                                <span style="color: orangered">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="!incompatibleAbilityOption(attacker, abilityOption)">
                                        <li>
                                            <a
                                                class="dropdown-item"
                                                [class.disabled]="disableAbilityOption(attacker, abilityOption)"
                                                href="#"
                                                (click)="addAbility(attacker, abilityOption)"
                                            >
                                                {{abilityOption.name}}
                                            </a>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </td>
                <td *ngIf="false">
                    <!-- disabled for now because facing logic has to be moved into dice-rolls.service.ts -->
                    <select class="form-select" [(ngModel)]="attacker.facing" disabled>
                        <option [ngValue]="'front'">Front</option>
                        <option [ngValue]="'flank'">Flank</option>
                        <option [ngValue]="'rear'">Rear</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="duplicateAttacker(index)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
                    <button class="btn btn-secondary" (click)="removeAttacker(index)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            
            <tr>
                <td colspan="8">
                    <div style="display: flex; flex-direction: row;">
                        <button class="btn btn-secondary" type="button" (click)="addAttacker()">    
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                            Add attacker
                        </button>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                  </svg>
                                Load attacker
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <ng-container *ngFor="let unitFaction of unitFactions; let first = first" >
                                    <li *ngIf="!first"><hr class="dropdown-divider"></li>

                                    <li><h6 class="dropdown-header">{{ unitFaction.factionName }}</h6></li>

                                    <ng-container *ngFor="let unitDefinition of unitFaction.units">
                                        <li *ngFor="let sizeOption of unitDefinition.sizes">
                                            <a class="dropdown-item" href="#" (click)="loadAttacker(unitDefinition, sizeOption)">{{ unitDefinition.name }} {{ sizeOption.size }}</a>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</span>

<span>
    <table class="table table-striped inputs-table">
        <thead>
            <tr>
                <td>Defender</td>
                <td style="text-align: center">De</td>
                <td style="text-align: center">Ne</td>
                <td>Affected by</td>
                <td>Inspired</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let defender of [charge.defender]" [class.was-loaded]="charge.defender.wasLoaded">
                <td><input class="form-control" type="text" placeholder="Defender" [(ngModel)]="charge.defender.name"></td>
                <td><input class="form-control" type="number" min="2" max="6" [(ngModel)]="charge.defender.defense"></td>
                <td>
                    <div class="nerve-input">
                        <input class="form-control two-digits" type="number" min="0" max="99" [(ngModel)]="charge.defender.nerve.waver">
                        /
                        <input class="form-control two-digits" type="number" min="1" max="99" [(ngModel)]="charge.defender.nerve.rout">
                    </div>
                </td>
                <td>
                    <div style="display: flex; flex-direction: column;">
                        <label><input class="form-check-input" type="checkbox" [(ngModel)]="charge.defender.affectedBy.rampage"> Rampage</label>
                        <label><input class="form-check-input" type="checkbox" [(ngModel)]="charge.defender.affectedBy.slayer"> Slayer</label>
                    </div>
                </td>
                <td style="text-align: center">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="charge.defender.inspired">
                </td>
            </tr>
            
            <tr>
                <td colspan="3">
                    <div style="display: flex; flex-direction: row;">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                  </svg>
                                Load defender
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <ng-container *ngFor="let unitFaction of unitFactions; let first = first" >
                                    <li *ngIf="!first"><hr class="dropdown-divider"></li>

                                    <li><h6 class="dropdown-header">{{ unitFaction.factionName }}</h6></li>

                                    <ng-container *ngFor="let unitDefinition of unitFaction.units">
                                        <li *ngFor="let sizeOption of unitDefinition.sizes">
                                            <a class="dropdown-item" href="#" (click)="loadDefender(unitDefinition, sizeOption)">{{ unitDefinition.name }} {{ sizeOption.size }}</a>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</span>