<h1>Cal<b>KoW</b>lator</h1>

<div>
    <h2>Charge #1</h2>
    <app-charge-input #charge1></app-charge-input>
</div>

<div>
    <h2>Charge #2</h2>
    <app-charge-input #charge2></app-charge-input>
</div>

<button (click)="calculate()">Calculate</button>

<div *ngIf="!error && results.length" class="results">
    <style>
        .results td {
            border: 1px solid lightgray
        }
    </style>

    <h2>Results</h2>
    <div style="display: flex; flex-direction: row;">
        <div *ngFor="let result of results; let index = index" style="margin-right: 40px">
            <h3>Charge {{ index + 1 }}</h3>
            <span><b>Average:</b> {{ result.average }}</span>

            <table>
                <tr *ngFor="let entry of result.displayTable">
                    <td>{{entry.hits}}</td>
                    <td>{{entry.fraction}}</td>
                    <td>{{entry.percent}}</td>
                </tr>
            </table>
        </div>

        <div>
            <h3>Difference</h3>
            <span><b>Average difference:</b> {{ averageDifference }}   {{ averageDifferencePercent }}</span>

            <table>
                <tr *ngFor="let entry of difference">
                    <td>{{entry.hits}}</td>
                    <td>{{entry.fraction}}</td>
                    <td>{{entry.percent}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<h1 *ngIf="error">There was an error!</h1>