@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
body {
    font-family: 'Domine', serif;
    /* font-variant: small-caps; */
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

/* hide arrows in number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}