@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
body {
    font-family: 'Domine', serif;
    /* font-variant: small-caps; */
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}